<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  
  N.B. DO NOT USE THE WEB ADMIN TOOL TO EDIT THIS FILE!!!

  The web admin tool adds a namespace to the document element of this document;
  this will cause the Edf.Lib-library to fail!!!
  
  This will lead to FAILURE:
  <configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  ...

   and this is CORRECT:

  <configuration> 
  ...
   
  -->
    <configSections>
      <section name="settings" type="Glue.Lib.Configuration, glue.lib" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    </configSections>

    <!-- 
		Glue settings
  	-->
    <settings>

      <!-- logging -->
      <logging level="fatal">
        <!-- level can be Fatal,Error,Warn,Info,Debug -->
        <appenders>
          <!--<clear />-->
          <add type="DefaultAppender"/>
          <add type="ConsoleAppender"/>
          <add type="SysLogAppender" server="alameda" _method="TCP" category="CAT" facility="User" level="debug"/>
				</appenders>
      </logging>


    </settings>
  </configuration>