<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="Glue.Lib.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Glue.Data.Test.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <settings>
    <context-sql    type="Glue.Data.Test.SqlContext"    server="localhost" database="glue_data_test" username="glue" password="glue" />
    <context-mysql  type="Glue.Data.Test.MySqlContext"  server="calypso"   database="glue_data_test" username="glue" password="glue" />
    <context-sqlite type="Glue.Data.Test.SQLiteContext" database="c:/users/gertjan/desktop/glue_data_test.db" />
  </settings>
  <userSettings>
    <Glue.Data.Test.Settings1>
      <setting name="Setting" serializeAs="String">
        <value>xxxx</value>
      </setting>
    </Glue.Data.Test.Settings1>
  </userSettings>
</configuration>
