<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="Glue.Lib.Configuration"/>
  </configSections>
  <settings>
    <context-sql    type="Glue.Data.Test.SqlContext"    server="calypso" database="glue_data_test" username="glue" password="glue" />
    <context-mysql  type="Glue.Data.Test.MySqlContext"  server="calypso"   database="glue_data_test" username="glue" password="glue" />
    <context-sqlite type="Glue.Data.Test.SQLiteContext" database="c:/users/gertjan/desktop/glue_data_test.db" />
    <compilation debug="true">
      <assemblies>
        <add assembly="glue.data.test" />
      </assemblies>
    </compilation>
  </settings>
</configuration>
